@font-face {
    font-family: 'AAHub';
    src: url('../fonts/aahub/aahub.woff2') format('woff2');
}

body {
    font-family: 'AAHub', sans-serif;
    font-size: 16px;
    line-height: 17px;
    white-space: pre;
}
